/*PREAMBLE*/
:root {
	--post: white;
	--dog-ear: gray;
	--de-width: 60px;
	--de-time: 0.15s;
}

* {
  font-family: sans-serif;
}

.button {
  position: absolute;
  background-color: rebeccapurple;
  width: 30px;
  height: 30px;
  top: -10px;
  left: -10px;
  border-radius: 50%;
}

/*DOG-EARS CSS*/
.post {
	position: relative;
	z-index: 0;
	background: linear-gradient(225deg, transparent 0%, transparent calc((var(--de-width) / 0.707) / 2), var(--post) calc((var(--de-width) / 0.707) / 2), var(--post) 100%);
}

/*set up dog-ear as a square with a linear gradient so it looks like a triangle*/
.post .dog-ear {
	position: absolute;
	z-index: unset;
	background: linear-gradient(45deg, var(--dog-ear) 50%, transparent 50%);
	border-bottom-left-radius: 10px;
	width: 0;
	height: 0;
	top: 0;
	right: 0;
}

/*when hovering over post, tell dog-ear to grow*/
.post:hover .dog-ear {
	width: var(--de-width);
	height: var(--de-width);
}

/*this is the part under the dog-ear that always covers up the part of the post that is transparent (ie cut off)*/
.post .dog-ear:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: linear-gradient(45deg, var(--post) 50%, transparent 50%);

}

/*when hovering over post, tell this part to shrink*/
.post:hover .dog-ear:before {
	width: var(--de-width);
	height: var(--de-width);
}

/*make sure transitions for everything are exactly the same so everything lines up*/
.post .dog-ear, 
.post:hover .dog-ear, 
.post .dog-ear:before, 
.post:hover .dog-ear:before {
  	transition: none var(--de-time) ease-in;
}

/*=============================================================================METHOD 1: HIDDEN OVERFLOW*/
/*make sure moving parts don't leave the post itself*/
.post.one {
	overflow: hidden;
}

.post.one .dog-ear:before {
	width: calc(var(--de-width)*2);
	height: calc(var(--de-width)*2);
	top: calc(var(--de-width)*-1);
	right: calc(var(--de-width)*-1);
}

/*when hovering over post, adjust this part so :before doesn't peak over dog-ear*/
.post.one:hover .dog-ear:before {
	top: 1px;
	right: 1px;
}

.post.one .dog-ear, 
.post.one:hover .dog-ear, 
.post.one .dog-ear:before, 
.post.one:hover .dog-ear:before {
	transition-property: 
		width, 
		height, 
		top, 
		right;
}

/*=============================================================================METHOD 2: BACKGROUND-CLIP*/
.post.two .dog-ear:before {
	width: var(--de-width);
	height: var(--de-width);
	top: calc(var(--de-width)*-1);
	right: calc(var(--de-width)*-1);
	padding-top: var(--de-width);
	padding-right: var(--de-width);
	background-clip: content-box;
}

.post.two:hover .dog-ear:before {
  background: linear-gradient(45deg, var(--post) 50%, transparent 50%);
	background-clip: content-box;
	top: 0;
	right: 0;
	padding-top: 0;
	padding-right: 0;
}

.post.two .dog-ear, 
.post.two:hover .dog-ear, 
.post.two .dog-ear:before, 
.post.two:hover .dog-ear:before {
	transition-property: 
		width, 
		height, 
		top, 
		right, 
		padding;
}

/*=============================================================================METHOD 3: CLIP-PATH*/
.post.three .dog-ear:before {
	background: var(--post);
	width: var(--de-width);
	height: var(--de-width);
	top: 0;
	right: 0;
	border-top-right-radius: 10px;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
}

.post.three:hover .dog-ear:before {
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 0 0);
}

.post.three .dog-ear, 
.post.three:hover .dog-ear, 
.post.three .dog-ear:before, 
.post.three:hover .dog-ear:before {
	transition-property: 
		width, 
		height, 
		clip-path;
}
